@use '../util/mixin' as mix;
@use '../globals/media' as media;
@use '../util/functions' as func;
@use '../util/animation' as anim;

.footer {
    background-image: linear-gradient(var(--first-bg-gradient) 0%, var(--second-bg-gradient) 100%);
    display: grid;
    grid-template: "brand" min-content
                    "nav" min-content
                    "copyright" min-content / 1fr;
    padding: 4.6875rem 1.875rem;
    row-gap: 3.125rem;

    &__brand,
    &__copyright {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__brand {
        grid-area: brand;
        margin-bottom: 0.625rem;
        row-gap: 0.9375rem;

        &__logo,
        &__text {
            display: flex;
        }

        &__logo {
            svg {
                @include mix.SetMinSize(3.75rem, 3.75rem);
            }
        }

        &__text {
            svg {
                @include mix.SetMinSize(7.5rem, 3.0625rem);
            }
        }
    }

    &__nav {
        display: grid;
        grid-template: "piczzle" min-content
                        "more" min-content
                        "social" min-content / 1fr;
        grid-area: nav;
        row-gap: 3.125rem;
        width: 100%;

        &__section__piczzle {
            grid-area: piczzle;
        }

        &__section__more {
            grid-area: more;
        }

        &__section__social {
            grid-area: social;
        }

        &__section {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.25rem 0 1.875rem;
            row-gap: 1.25rem;
            width: 100%;
            
            &__header {
                color: var(--footer-nav-link-header);
                font-size: 1.75rem;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 0.875rem;
                
                &__item {
                    display: flex;
                    justify-content: center;
                                
                    &__link {
                        color: var(--footer-nav-link);
                        letter-spacing: func.PercentToRem(1);
                    }
                }
            }

            &__social-links {
                column-gap: 1.25rem;
                display: flex;

                svg {
                    @include mix.SetMinSize(1.875rem, 1.875rem);
                    
                    path {
                        fill: var(--footer-social-icons);
                    }
                }
            }
        }
    }

    &__copyright {
        grid-area: copyright;

        &__text {
            color: var(--footer-copyright-text);
            font-size: 0.75rem;
        }
    }

    @media (min-width: 23.4375rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-375);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-375)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-375);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-375),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-375));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-375),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-375));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-375)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-375);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-375);
        }
    }
    
    @media (min-width: 26.5625rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-425);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-425)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-425);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-425),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-425));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-425),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-425));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-425)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-425);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-425);
        }
    }

    @media (min-width: 28.125rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-450);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-450)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-450);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-450),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-450));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-450),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-450));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-450)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-450);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-450);
        }
    }

    @media (min-width: 30.375rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-486);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-486)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-486);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-486),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-486));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-486),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-486));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-486)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-486);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-486);
        }
    }

    @media (min-width: 36rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-576);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-576)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-576);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-576),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-576));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-576),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-576));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-576)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-576);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-576);
        }
    }

    @media (min-width: 37.5rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-600);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-600)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-600);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-600),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-600));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-600),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-600));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-600)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-600);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-600);
        }
    }

    @media (min-width: 41.5625rem) {
        &__brand {
            margin-bottom: func.GetUpdatedMediaValue(0.625rem, 0, media.$media-665);
            padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-665)
                    0 func.GetUpdatedMediaValue(0, 0.75rem, media.$media-665);
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-665),
                                            func.GetUpdatedMediaValue(3.75rem, 4.0625rem, media.$media-665));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 6.5625rem, media.$media-665),
                                            func.GetUpdatedMediaValue(3.0625rem, 2.6875rem, media.$media-665));
                }
            }
        }

        &__nav {
            &__section {
                padding-bottom: func.GetUpdatedMediaValue(1.25rem, 3.75rem, media.$media-665)
                                0 func.GetUpdatedMediaValue(1.875rem, 3.75rem, media.$media-665);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(0, 1.25rem, media.$media-665);
        }
    }

    @media (min-width: 46.5rem) {
        grid-template: ". brand ." min-content
                        "nav nav nav" min-content
                        "copyright copyright copyright" min-content / 1fr 1fr 1fr;
        justify-items: center;
        padding: 5.625rem 2.5rem;

        &__brand {
            margin-bottom: 0;
            padding: 0.625rem 0 0.75rem;
            
            &__logo {
                svg {
                    @include mix.SetMinSize(4.0625rem, 4.0625rem);
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(6.5625rem, 2.6875rem);
                }
            }
        }

        &__nav {
            align-items: flex-start;
            grid-template: "piczzle social more" min-content / 1fr 1fr 1fr;

            &__section {
                padding-bottom: 3.75rem;
            }
        }

        &__copyright {
            margin-top: 1.25rem;
        }
    }

    @media (min-width: 51.375rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 6.171875rem, media.$media-822)
                func.GetUpdatedMediaValue(2.5rem, 3.8125rem, media.$media-822);

        &__brand {
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.0625rem, 4.609375rem, media.$media-822),
                                            func.GetUpdatedMediaValue(4.0625rem, 4.609375rem, media.$media-822));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(6.5625rem, 7.21875rem, media.$media-822),
                                            func.GetUpdatedMediaValue(2.6875rem, 2.971875rem, media.$media-822));
                }
            }
        }

        &__nav {
            &__section {
                padding: 0.625rem 0 3.35625rem;
                padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-822) 
                        0 func.GetUpdatedMediaValue(3.75rem, 3.35625rem, media.$media-822);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(1.25rem, 0, media.$media-822);
        }
    }

    @media (min-width: 58.75rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 6.171875rem, media.$media-940)
                func.GetUpdatedMediaValue(2.5rem, 3.8125rem, media.$media-940);

        &__brand {
            
            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.0625rem, 4.609375rem, media.$media-940),
                                            func.GetUpdatedMediaValue(4.0625rem, 4.609375rem, media.$media-940));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(6.5625rem, 7.21875rem, media.$media-940),
                                            func.GetUpdatedMediaValue(2.6875rem, 2.971875rem, media.$media-940));
                }
            }
        }

        &__nav {
            &__section {
                padding: 0.625rem 0 3.35625rem;
                padding: func.GetUpdatedMediaValue(0, 0.625rem, media.$media-940) 
                        0 func.GetUpdatedMediaValue(3.75rem, 3.35625rem, media.$media-940);
            }
        }

        &__copyright {
            margin-top: func.GetUpdatedMediaValue(1.25rem, 0, media.$media-940);
        }
    }

    @media (min-width: 61.9375rem) {
        grid-template: "brand nav nav nav" min-content
                        "brand nav nav nav" min-content
                        "brand copyright copyright copyright" min-content / 1fr 1fr 1fr 1fr;
        padding: 6.171875rem 3.8125rem;
        row-gap: initial;

        &__brand {
            &__logo {
                svg {
                    @include mix.SetMinSize(4.609375rem, 4.609375rem);
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(7.21875rem, 2.971875rem);
                }
            }
        }
        
        &__nav {
            grid-template: "piczzle more social" min-content / 1fr 1fr 1fr;

            &__section {
                padding: 0.625rem 0 3.35625rem;
                row-gap: 1.359375rem;

                &__header {
                    font-size: 1.903125rem;
                }

                &__wrapper {
                    row-gap: 0.9625rem;
                    
                    &__item {
                        &__link {
                            font-size: 1.0875rem;

                            &:hover {
                                color: var(--light);
                                text-decoration: underline;
                                transform: scale(anim.$d-scale);
                            }

                            &:active {
                                text-decoration: none;
                                transform: scale(anim.$d-active-scale);
                            }
                        }
                    }
                }

                &__social-links {
                    column-gap: 1.359375rem;
                    
                    svg {
                        @include mix.SetMinSize(2.05rem, 2.05rem);

                        &:hover {
                            transform: scale(anim.$d-scale);

                            path {
                                fill: var(--light);
                            }
                        }

                        &:active {
                            transform: scale(anim.$d-active-scale);
                        }
                    }
                }
            }
        }

        &__copyright {
            @include mix.SetMinSize(100%, 0);
            display: grid;
            grid-template: ". . copyright-txt" min-content / 1fr 1fr 1fr;
            margin: 0;

            &__text {
                font-size: 0.878125rem;
                grid-area: copyright-txt;
                position: relative;
                text-align: center;
                top: -150%;
            }
        }
    }

    @media (min-width: 64.0625rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 7.1875rem, media.$media-1025)
                func.GetUpdatedMediaValue(2.5rem, 6.25rem, media.$media-1025);

        &__brand {
            padding: func.GetUpdatedMediaValue(0.625rem, 0.875rem, media.$media-1025)
                    0 func.GetUpdatedMediaValue(0.75rem, 0.625rem, media.$media-1025);

            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1025),
                                            func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1025));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.21875rem, 8.4375rem, media.$media-1025),
                                            func.GetUpdatedMediaValue(2.971875rem, 3.5rem, media.$media-1025));
                }
            }
        }

        &__nav {
            &__section {
                padding: func.GetUpdatedMediaValue(0.625rem, 0.3125rem, media.$media-1025)
                        0 func.GetUpdatedMediaValue(3.35625rem, 2.625rem, media.$media-1025);
                row-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1025);

                &__header {
                    font-size: func.GetUpdatedMediaValue(1.903125rem, 2.1875rem, media.$media-1025);
                }

                &__wrapper {
                    row-gap: func.GetUpdatedMediaValue(0.9625rem, 1.125rem, media.$media-1025);
                    
                    &__item {
                        &__link {
                            font-size: func.GetUpdatedMediaValue(1.0875rem, 1.25rem, media.$media-1025);
                        }
                    }
                }

                &__social-links {
                    column-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1025);
                    
                    svg {
                        @include mix.SetMinSize(func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1025),
                                                func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1025));
                    }
                }
            }
        }

        &__copyright {
            &__text {
                font-size: func.GetUpdatedMediaValue(0.878125rem, 1rem, media.$media-1025);
            }
        }
    }

    @media (min-width: 72.5rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 7.1875rem, media.$media-1160)
                func.GetUpdatedMediaValue(2.5rem, 6.25rem, media.$media-1160);

        &__brand {
            padding: func.GetUpdatedMediaValue(0.625rem, 0.875rem, media.$media-1160)
                    0 func.GetUpdatedMediaValue(0.75rem, 0.625rem, media.$media-1160);

            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1160),
                                            func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1160));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.21875rem, 8.4375rem, media.$media-1160),
                                            func.GetUpdatedMediaValue(2.971875rem, 3.5rem, media.$media-1160));
                }
            }
        }

        &__nav {
            &__section {
                padding: func.GetUpdatedMediaValue(0.625rem, 0.3125rem, media.$media-1160)
                        0 func.GetUpdatedMediaValue(3.35625rem, 2.625rem, media.$media-1160);
                row-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1160);

                &__header {
                    font-size: func.GetUpdatedMediaValue(1.903125rem, 2.1875rem, media.$media-1160);
                }

                &__wrapper {
                    row-gap: func.GetUpdatedMediaValue(0.9625rem, 1.125rem, media.$media-1160);
                    
                    &__item {
                        &__link {
                            font-size: func.GetUpdatedMediaValue(1.0875rem, 1.25rem, media.$media-1160);
                        }
                    }
                }

                &__social-links {
                    column-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1160);
                    
                    svg {
                        @include mix.SetMinSize(func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1160),
                                                func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1160));
                    }
                }
            }
        }

        &__copyright {
            &__text {
                font-size: func.GetUpdatedMediaValue(0.878125rem, 1rem, media.$media-1160);
            }
        }
    }

    @media (min-width: 79rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 7.1875rem, media.$media-1264)
                func.GetUpdatedMediaValue(2.5rem, 6.25rem, media.$media-1264);

        &__brand {
            padding: func.GetUpdatedMediaValue(0.625rem, 0.875rem, media.$media-1264)
                    0 func.GetUpdatedMediaValue(0.75rem, 0.625rem, media.$media-1264);

            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1264),
                                            func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1264));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.21875rem, 8.4375rem, media.$media-1264),
                                            func.GetUpdatedMediaValue(2.971875rem, 3.5rem, media.$media-1264));
                }
            }
        }

        &__nav {
            &__section {
                padding: func.GetUpdatedMediaValue(0.625rem, 0.3125rem, media.$media-1264)
                        0 func.GetUpdatedMediaValue(3.35625rem, 2.625rem, media.$media-1264);
                row-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1264);

                &__header {
                    font-size: func.GetUpdatedMediaValue(1.903125rem, 2.1875rem, media.$media-1264);
                }

                &__wrapper {
                    row-gap: func.GetUpdatedMediaValue(0.9625rem, 1.125rem, media.$media-1264);
                    
                    &__item {
                        &__link {
                            font-size: func.GetUpdatedMediaValue(1.0875rem, 1.25rem, media.$media-1264);
                        }
                    }
                }

                &__social-links {
                    column-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1264);
                    
                    svg {
                        @include mix.SetMinSize(func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1264),
                                                func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1264));
                    }
                }
            }
        }

        &__copyright {
            &__text {
                font-size: func.GetUpdatedMediaValue(0.878125rem, 1rem, media.$media-1264);
            }
        }
    }

    @media (min-width: 84.375rem) {
        padding: func.GetUpdatedMediaValue(5.625rem, 7.1875rem, media.$media-1350)
                func.GetUpdatedMediaValue(2.5rem, 6.25rem, media.$media-1350);

        &__brand {
            padding: func.GetUpdatedMediaValue(0.625rem, 0.875rem, media.$media-1350)
                    0 func.GetUpdatedMediaValue(0.75rem, 0.625rem, media.$media-1350);

            &__logo {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1350),
                                            func.GetUpdatedMediaValue(4.609375rem, 5.625rem, media.$media-1350));
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(7.21875rem, 8.4375rem, media.$media-1350),
                                            func.GetUpdatedMediaValue(2.971875rem, 3.5rem, media.$media-1350));
                }
            }
        }

        &__nav {
            &__section {
                padding: func.GetUpdatedMediaValue(0.625rem, 0.3125rem, media.$media-1350)
                        0 func.GetUpdatedMediaValue(3.35625rem, 2.625rem, media.$media-1350);
                row-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1350);

                &__header {
                    font-size: func.GetUpdatedMediaValue(1.903125rem, 2.1875rem, media.$media-1350);
                }

                &__wrapper {
                    row-gap: func.GetUpdatedMediaValue(0.9625rem, 1.125rem, media.$media-1350);
                    
                    &__item {
                        &__link {
                            font-size: func.GetUpdatedMediaValue(1.0875rem, 1.25rem, media.$media-1350);
                        }
                    }
                }

                &__social-links {
                    column-gap: func.GetUpdatedMediaValue(1.359375rem, 1.5625rem, media.$media-1350);
                    
                    svg {
                        @include mix.SetMinSize(func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1350),
                                                func.GetUpdatedMediaValue(2.05rem, 2.375rem, media.$media-1350));
                    }
                }
            }
        }

        &__copyright {
            &__text {
                font-size: func.GetUpdatedMediaValue(0.878125rem, 1rem, media.$media-1350);
            }
        }
    }
    
    @media (min-width: 90rem) {
        padding: 7.1875rem 6.25rem;

        &__brand {
            padding: 0.875rem 0 0.625rem;

            &__logo {
                svg {
                    @include mix.SetMinSize(5.625rem, 5.625rem);
                }
            }

            &__text {
                svg {
                    @include mix.SetMinSize(8.4375rem, 3.5rem);
                }
            }
        }

        &__nav {
            &__section {
                padding: 0.3125rem 0 2.625rem;
                row-gap: 1.5625rem;

                &__header {
                    font-size: 2.1875rem;
                }

                &__wrapper {
                    row-gap: 1.125rem;
                    
                    &__item {
                        &__link {
                            font-size: 1.25rem;
                        }
                    }
                }

                &__social-links {
                    column-gap: 1.5625rem;
                    
                    svg {
                        @include mix.SetMinSize(2.375rem, 2.375rem);
                    }
                }
            }
        }

        &__copyright {
            &__text {
                font-size: 1rem;
            }
        }
    }
}