@use '../util/mixin' as mix;
@use '../globals/colors' as c;
@use '../util/functions' as func;
@use '../globals/media' as media;
@use '../util//animation' as anim;

.header {
    align-items: center;
    background-color: white;
    box-shadow: 0 0.0625rem 0.375rem var(--header-box-shadow-y);
    display: grid;
    flex-wrap: wrap;
    grid-template: "brand menu" min-content / auto;
    justify-content: space-between;
    padding: 0.625rem 1.875rem;
    position: relative;
    width: 100%;
    z-index: 10;

    &__brand,
    &__menu,
    &__menu__open {
        display: flex;
    }
    
    &__action {
        display: none;
    }

    &__brand {
        grid-area: brand;

        svg {
            @include mix.SetMinSize(7.5rem, 3.0625rem);
        }
    }

    &__action {
        align-items: center;
        background-image: linear-gradient(var(--first-bg-gradient) 0%, var(--second-bg-gradient) 100%);
        flex-direction: column;
        left: 0%;
        min-height: calc(100vh - 100%);
        position: absolute;
        right: 0%;
        row-gap: 2.5rem;
        top: 100%;
        width: 100%;

        &__nav-wrapper,
        &__nav-divider,
        &__cta,
        &__social-links {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &__cta,
        &__social-links {
            flex-direction: row;
        }

        &__nav-wrapper {
            width: 100%;

            &__item {
                padding: 1.3125rem 0;
                width: 100%;

                &__link {
                    color: var(--header-menu-link);
                    display: block;
                    font-size: 1.25rem;
                    text-align: center;
                }
            }
        }

        &__nav-divider {
            border-color: var(--nav-divider);
            width: 67.05%;
        }

        &__cta {
            column-gap: 1.875rem;
            
            .cta {
                box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 100%, 0.25);
                color: var(--first-bg-gradient);
                font-size: 1rem;
            }
        }

        &__social-links {
            column-gap: 1.25rem;
            margin: auto 0 2.1875rem;

            svg {
                @include mix.SetMinSize(1.5625rem, 1.5625rem);

                path {
                    fill: var(--header-social-icons);
                }
            }
        }
    }

    &__menu {
        grid-area: menu;
        justify-content: flex-end;
        width: min-content;

        &__close,
        &__user {
            display: none;
        }

        svg {
            @include mix.SetMinSize(2.0625rem, 2.0625rem);
        }
    }

    @media (min-width: 23.4375rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-375)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-375);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-375),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-375));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-375) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-375);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-375);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-375),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-375));
            }
        }
    }
    
    @media (min-width: 26.5625rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-425)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-425);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-425),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-425));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-425) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-425);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-425);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-425),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-425));
            }
        }
    }

    @media (min-width: 28.125rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-450)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-450);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-450),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-450));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-450) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-450);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-450);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-450),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-450));
            }
        }
    }

    @media (min-width: 30.375rem) {
        padding: func.GetUpdatedMediaValue(0.625rem, 1.5rem, media.$media-486)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-486);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-486),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-486));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-486) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-486);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-486);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-486),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-486));
            }
        }
    }


    @media (min-width: 36rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-576)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-576);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-576),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-576));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-576) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-576);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-576);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-576),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-576));
            }
        }
    }

    @media (min-width: 37.5rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-600)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-600);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-600),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-600));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-600) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-600);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-600);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-600),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-600));
            }
        }
    }

    @media (min-width: 41.5625rem) {
        padding: func.GetUpdatedMediaValue(0.625rem , 1.5rem, media.$media-665)
                func.GetUpdatedMediaValue(1.875rem, 3.125rem, media.$media-665);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(7.5rem, 8.4375rem, media.$media-665),
                                        func.GetUpdatedMediaValue(3.0625rem, 3.5rem, media.$media-665));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.3125rem, 1.4375rem, media.$media-665) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-665);
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-665);
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-665),
                                        func.GetUpdatedMediaValue(1.5625rem, 2.5rem, media.$media-665));
            }
        }
    }


    @media (min-width: 46.5rem) {
        padding: 1.5rem 3.125rem ;

        &__brand {
            svg {
                @include mix.SetMinSize(8.4375rem, 3.5rem);
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: 1.4375rem 0;
                    
                    &__link {
                        font-size: 1.5rem;
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: 1.1875rem;
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(2.5rem, 2.5rem);
            }
        }
    }

    @media (min-width: 51.375rem) {
        padding: func.GetUpdatedMediaValue(1.5rem, 1.63rem, media.$media-822)
                func.GetUpdatedMediaValue(3.125rem, 4.225rem, media.$media-822);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(8.4375rem, 9.1875rem, media.$media-822),
                                        func.GetUpdatedMediaValue(3.5rem, 3.8125rem, media.$media-822));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.4375rem, 0, media.$media-822) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.5rem, 1.25rem, media.$media-822);
                    }
                }
            }
        }
    }

    @media (min-width: 58.75rem) {
        padding: func.GetUpdatedMediaValue(1.5rem, 1.63rem, media.$media-940)
                func.GetUpdatedMediaValue(3.125rem, 4.225rem, media.$media-940);

        &__brand {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(8.4375rem, 9.1875rem, media.$media-940),
                                        func.GetUpdatedMediaValue(3.5rem, 3.8125rem, media.$media-940));
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: func.GetUpdatedMediaValue(1.4375rem, 0, media.$media-940) 0;
                    
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.5rem, 1.25rem, media.$media-940);
                    }
                }
            }
        }
    }

    @media (min-width: 61.9375rem) {
        padding: 1.63rem  4.225rem;
        grid-template: "brand nav" min-content / auto 1fr;

        &__brand {
            margin-right: 5.625rem;

            svg {
                @include mix.SetMinSize(9.1875rem, 3.8125rem);

                
            &:hover {
                filter: drop-shadow(0 0.125rem 0.125rem var(--dark-10));
                opacity: anim.$d-opacity;
                transform: scaleY(1.1) scaleX(0.95);
            }

            &:active {
                filter: drop-shadow(0 0.125rem 0 var(--dark-50));
            }
            }
        }

        &__action {
            background-image: none;
            display: flex;
            grid-area: nav;
            justify-content: space-between;
            min-height: initial;
            position: static;

            &,
            &__nav-wrapper {
                flex-direction: row;
            }

            &__nav-wrapper {
                align-items: center;
                column-gap: 1.75rem;
                display: flex;
                width: auto;
                
            .active-header-link {
                color: var(--dark);
                filter: blur(0);
                opacity: 1;
                transform: scale(anim.$d-scale);
                text-shadow: 0 0.0625rem 0 var(--dark-15);
            }

                &__item {
                    &__link {
                        color: var(--header-nav-link-text); 
                        filter: blur(0.0625rem);
                        font-size: 1.25rem;
                        opacity: anim.$d-opacity;
                        
                        &:hover {
                            filter: blur(0);
                            opacity: anim.$d-opacity;
                        }

                        &:active {
                            transform: scale(anim.$d-active-scale);
                        }
                    }
                }
            }
            
            &__cta {
                display: flex;
                column-gap: 2.125rem;
                
                .cta.active-cta-route {
                    background-color: transparent;
                    box-shadow: none;
                    border: none;
                }
                
                .cta {
                    box-shadow: 0 0.25rem 0.625rem var(--header-cta-box-shadow);
                }
            }
        }

        &__action__nav-divider,        
        &__action__social-links {
            display: none;
        }

        &__menu {
            position: relative;
            
            &__open {
                display: none;
            }

            svg {
                cursor: pointer;
                
                &:hover {
                    transform: scale(anim.$d-scale);
                }

                &:active {
                    transform: scale(anim.$d-active-scale);
                }
            }
        }
    }

    @media (min-width: 64.0625rem) {
        padding: func.GetUpdatedMediaValue(1.63rem, 2.25rem, media.$media-1025)
                func.GetUpdatedMediaValue(4.225rem, 6.25rem, media.$media-1025);
        &__brand {
            margin-right: func.GetUpdatedMediaValue(5.625rem, 6.25rem, media.$media-1025);
            
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(9.1875rem, 10.75rem, media.$media-1025),
                                        func.GetUpdatedMediaValue(3.8125rem, 4.4375rem, media.$media-1025));
            }
        }

        &__action {
            &__nav-wrapper {
                column-gap: 2.75rem func.GetUpdatedMediaValue(1.75rem, 2.75rem, media.$media-1025);

                &__item {
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-1025);
                    }
                }

            }

            &__cta {
                column-gap: func.GetUpdatedMediaValue(2.125rem, 3.125rem, media.$media-1025);

                .cta {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.5rem, media.$media-1025);
                }
            }
        }
    }

    @media (min-width: 72.5rem) {
        padding: func.GetUpdatedMediaValue(1.63rem, 2.25rem, media.$media-1160)
                func.GetUpdatedMediaValue(4.225rem, 6.25rem, media.$media-1160);
        &__brand {
            margin-right: func.GetUpdatedMediaValue(5.625rem, 6.25rem, media.$media-1160);
            
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(9.1875rem, 10.75rem, media.$media-1160),
                                        func.GetUpdatedMediaValue(3.8125rem, 4.4375rem, media.$media-1160));
            }
        }

        &__action {
            &__nav-wrapper {
                column-gap: 2.75rem func.GetUpdatedMediaValue(1.75rem, 2.75rem, media.$media-1160);

                &__item {
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-1160);
                    }
                }

            }

            &__cta {
                column-gap: func.GetUpdatedMediaValue(2.125rem, 3.125rem, media.$media-1160);

                .cta {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.5rem, media.$media-1160);
                }
            }
        }
    }

    @media (min-width: 79rem) {
        padding: func.GetUpdatedMediaValue(1.63rem, 2.25rem, media.$media-1264)
                func.GetUpdatedMediaValue(4.225rem, 6.25rem, media.$media-1264);
        &__brand {
            margin-right: func.GetUpdatedMediaValue(5.625rem, 6.25rem, media.$media-1264);
            
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(9.1875rem, 10.75rem, media.$media-1264),
                                        func.GetUpdatedMediaValue(3.8125rem, 4.4375rem, media.$media-1264));
            }
        }

        &__action {
            &__nav-wrapper {
                column-gap: 2.75rem func.GetUpdatedMediaValue(1.75rem, 2.75rem, media.$media-1264);

                &__item {
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-1264);
                    }
                }

            }

            &__cta {
                column-gap: func.GetUpdatedMediaValue(2.125rem, 3.125rem, media.$media-1264);

                .cta {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.5rem, media.$media-1264);
                }
            }
        }
    }

    @media (min-width: 84.375rem) {
        padding: func.GetUpdatedMediaValue(1.63rem, 2.25rem, media.$media-1350)
                func.GetUpdatedMediaValue(4.225rem, 6.25rem, media.$media-1350);
        &__brand {
            margin-right: func.GetUpdatedMediaValue(5.625rem, 6.25rem, media.$media-1350);
            
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(9.1875rem, 10.75rem, media.$media-1350),
                                        func.GetUpdatedMediaValue(3.8125rem, 4.4375rem, media.$media-1350));
            }
        }

        &__action {
            &__nav-wrapper {
                column-gap: 2.75rem func.GetUpdatedMediaValue(1.75rem, 2.75rem, media.$media-1350);

                &__item {
                    &__link {
                        font-size: func.GetUpdatedMediaValue(1.25rem, 1.5rem, media.$media-1350);
                    }
                }

            }

            &__cta {
                column-gap: func.GetUpdatedMediaValue(2.125rem, 3.125rem, media.$media-1350);

                .cta {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.5rem, media.$media-1350);
                }
            }
        }
    }

    @media (min-width: 90rem) {
        padding: 2.25rem 6.25rem;
        &__brand {
            margin-right: 6.25rem;
            
            svg {
                @include mix.SetMinSize(10.75rem, 4.4375rem);
            }
        }

        &__action {

            &__nav-wrapper {
                column-gap: 2.75rem;

                &__item {
                    
                    &__link {
                        font-size: 1.5rem;
                    }
                }

            }

            &__cta {
                column-gap: 3.125rem;

                .cta {
                    font-size: 1.5rem;
                }
            }
        }
    }
}