@use '../util/mixin' as mix;
@use '../globals/colors' as c;

.header {
    align-items: center;
    box-shadow: 0 0.0625rem 0.375rem var(--header-box-shadow-y);
    display: grid;
    flex-wrap: wrap;
    grid-template: "brand menu" min-content / auto;
    padding: 0.625rem 1.875rem;
    position: relative;

    &__brand,
    &__menu,
    &__menu__open {
        display: flex;
    }
    
    &__action {
        display: none;
    }

    &__brand {
        grid-area: brand;

        svg {
            @include mix.SetMinSize(7.5rem, 3.0625rem);
        }
    }

    &__action {
        align-items: center;
        background-image: linear-gradient(var(--first-bg-gradient) 0%, var(--second-bg-gradient) 100%);
        flex-direction: column;
        left: 0%;
        min-height: calc(100vh - 100%);
        position: absolute;
        right: 0%;
        row-gap: 2.5rem;
        top: 100%;
        width: 100%;

        &__nav-wrapper,
        &__nav-divider,
        &__cta,
        &__social-links {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &__cta,
        &__social-links {
            flex-direction: row;
        }

        &__nav-wrapper {
            width: 100%;

            &__item {
                padding: 1.3125rem 0;
                width: 100%;

                &__link {
                    color: var(--header-menu-link);
                    display: block;
                    font-size: 1.25rem;
                    text-align: center;
                }
            }
        }

        &__nav-divider {
            border-color: var(--nav-divider);
            width: 67.05%;
        }

        &__cta {
            column-gap: 1.875rem;
            
            .cta {
                box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 100%, 0.25);
                color: var(--first-bg-gradient);
                font-size: 1rem;
            }
        }

        &__social-links {
            column-gap: 1.25rem;
            margin: auto 0 2.1875rem;

            svg {
                @include mix.SetMinSize(1.5625rem, 1.5625rem);

                path {
                    fill: var(--header-social-icons);
                }
            }
        }
    }

    &__menu {
        grid-area: menu;
        justify-content: flex-end;

        &__close,
        &__user {
            display: none;
        }

        svg {
            @include mix.SetMinSize(2.0625rem, 2.0625rem);
        }
    }

    @media (min-width: 26.5625rem) {
        &__brand {
            svg {
                @include mix.SetMinSize(7.809375rem, 3.206875rem);
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(2.206875rem, 2.206875rem);
            }
        }
    }

    @media (min-width: 36rem) {
        &__brand {
            svg {
                @include mix.SetMinSize(8.11875rem, 3.35125rem);
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(2.41375rem, 2.41375rem);
            }
        }
    }

    @media (min-width: 46.5rem) {
        padding: 1.5rem 3.125rem ;

        &__brand {
            svg {
                @include mix.SetMinSize(8.4375rem, 3.5rem);
            }
        }

        &__action {
            &__nav-wrapper {
                &__item {
                    padding: 1.4375rem 0;
                    
                    &__link {
                        font-size: 1.5rem;
                    }
                }
            }

            &__cta {
                .cta {
                    font-size: 1.1875rem;
                }
            }
        }

        &__menu {
            svg {
                @include mix.SetMinSize(2.5rem, 2.5rem);
            }
        }
    }

    @media (min-width: 61.9375rem) {
        padding: 1.63rem  4.225rem;
        grid-template: "brand nav" min-content / auto 1fr;

        &__brand {
            margin-right: 5.625rem;

            svg {
                @include mix.SetMinSize(9.1875rem, 3.8125rem);
            }
        }

        &__action {
            background-image: none;
            display: flex;
            grid-area: nav;
            justify-content: space-between;
            min-height: initial;
            position: static;

            &,
            &__nav-wrapper {
                flex-direction: row;
            }

            &__nav-wrapper {
                align-items: center;
                column-gap: 1.75rem;
                display: flex;
                width: auto;

                &__item {
                    &__link {
                        color: var(--header-nav-link-text); 
                        font-size: 1.25rem;
                    }
                }
            }
            
            &__cta {
                display: flex;
                column-gap: 2.125rem;

                .cta {
                    box-shadow: 0 0.25rem 0.625rem var(--header-cta-box-shadow);
                }
            }
        }

        &__menu__open,
        &__action__nav-divider,        
        &__action__social-links {
            display: none;
        }
    
    }

    @media (min-width: 90rem) {
        padding: 2.25rem 6.25rem;
        &__brand {
            margin-right: 6.25rem;
            
            svg {
                @include mix.SetMinSize(10.75rem, 4.4375rem);
            }
        }

        &__action {

            &__nav-wrapper {
                column-gap: 2.75rem;

                &__item {
                    
                    &__link {
                        font-size: 1.5rem;
                    }
                }

            }

            &__cta {
                column-gap: 3.125rem;

                .cta {
                    font-size: 1.5rem;
                }
            }
        }
    }
}