@use '../../util/mixin' as mix;
@use '../../util/functions' as func;
@use '../../globals/media' as media;

.guest {
    &__hero {
        align-items: center;
        display: grid;
        grid-template: "heading" min-content "cta" min-content / 1fr;
        padding: func.GetUpdatedMediaValue(9.0625rem, 15.75rem, 0)
                0 func.GetUpdatedMediaValue(9.625rem, 16rem, 0);
        position: relative;
        row-gap: func.GetUpdatedMediaValue(3.75rem, 4.375rem, 0);
        width: 100%;

        $containerLengthX: func.GetUpdatedMediaValue(320, 744, 0);
        $containerLengthY: func.GetUpdatedMediaValue(499, 752, 0);
        &::before {
            @include mix.SetMinSize(100%, 100%);
            $shutterImageLengthX: 289;
            $shutterImageLengthY: 35;
            $bgImageLengthX: 244;
            $bgImageLengthY: 437;
            $shutterToOffSetInPxY: 34;
            $bgToOffSetInPxX: 15;
            $bgToOffSetInPxY: 105;
            $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, $containerLengthY, $shutterToOffSetInPxY);
            $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
            $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);

            background-image: url('../../../assets/images/pages/home-shutter.svg'), url('../../../assets/images/pages/home-mobile-hero-bg.svg');
            background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
            background-size: func.PxToRem($shutterImageLengthX),
                            func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            background-repeat: no-repeat;
            background-attachment: scroll;
            content: "";
            filter: blur(0.09375rem);
            position: absolute;
            top: 0;
        }

        &::after {
            @include mix.SetMinSize(100%, 100%);
            background-image: linear-gradient(#9B9B9B 0%, #9b9b9b00 100%);
            content: "";
            position: absolute;
            opacity: 0.2;
            top: 0;
        }
        
        &__heading,
        &__cta {
            margin: auto;
            z-index: 1;
        }
        
        &__heading {
            @include mix.SetMinSize(82.5%, auto);
            grid-area: heading;
            
            &__text {
                color: var(--dark);
                font-size: 3.5rem;
                line-height: 95%;
                text-align: center;
                margin: 0;
            }
        }

        &__cta {
            width: fit-content;
            grid-area: cta;
            
            .cta-hero {
                box-shadow: 0 0.1875rem 0.5rem #00000040;
                font-size: 1rem;
            }
        }
    }
    
    
    @media (min-width: 26.5625rem) {
        &__hero {
            padding: func.GetUpdatedMediaValue(9.0625rem, 15.75rem, media.$media-425)
                    0 func.GetUpdatedMediaValue(9.625rem, 16rem, media.$media-425);
            row-gap: func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-425);

            $containerLengthX: func.GetUpdatedMediaValue(320, 744, media.$media-425);
            $containerLengthY: func.GetUpdatedMediaValue(499, 752, media.$media-425);
            &::before {
                $shutterImageLengthX: func.GetUpdatedMediaValue(289, 512, media.$media-425);
                $shutterImageLengthY: func.GetUpdatedMediaValue(35, 62, media.$media-425);
                $bgImageLengthX: func.GetUpdatedMediaValue(244, 425, media.$media-425);
                $bgImageLengthY: func.GetUpdatedMediaValue(437, 609, media.$media-425);
                $shutterToOffSetInPxY: func.GetUpdatedMediaValue(34, 70, media.$media-425);
                $bgToOffSetInPxX: func.GetUpdatedMediaValue(15, 130, media.$media-425);
                $bgToOffSetInPxY: func.GetUpdatedMediaValue(105, 154, media.$media-425);
                $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, 
                                    $containerLengthY, $shutterToOffSetInPxY);
                $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
                $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);
    
                background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
                background-size: func.PxToRem($shutterImageLengthX),
                                func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            }

            &__heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(17rem, 20.75rem, media.$media-425), auto);
                
                &__text {
                    font-size: func.GetUpdatedMediaValue(3.5rem, 4.375rem, media.$media-425);
                }
            }

            &__cta {
                .cta-hero {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-425);
                }
            }
        }
    }

    @media (min-width: 36rem) {
        &__hero {
            padding: func.GetUpdatedMediaValue(9.0625rem, 15.75rem, media.$media-576)
                    0 func.GetUpdatedMediaValue(9.625rem, 16rem, media.$media-576);
            row-gap: func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-576);
            
            $containerLengthX: func.GetUpdatedMediaValue(320, 744, media.$media-576);
            $containerLengthY: func.GetUpdatedMediaValue(499, 752, media.$media-576);
            &::before {
                $shutterImageLengthX: func.GetUpdatedMediaValue(289, 512, media.$media-576);
                $shutterImageLengthY: func.GetUpdatedMediaValue(35, 62, media.$media-576);
                $bgImageLengthX: func.GetUpdatedMediaValue(244, 425, media.$media-576);
                $bgImageLengthY: func.GetUpdatedMediaValue(437, 609, media.$media-576);
                $shutterToOffSetInPxY: func.GetUpdatedMediaValue(34, 70, media.$media-576);
                $bgToOffSetInPxX: func.GetUpdatedMediaValue(15, 130, media.$media-576);
                $bgToOffSetInPxY: func.GetUpdatedMediaValue(105, 154, media.$media-576);
                $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, 
                                    $containerLengthY, $shutterToOffSetInPxY);
                $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
                $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);
    
                background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
                background-size: func.PxToRem($shutterImageLengthX),
                                func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            }

            &__heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(17rem, 20.75rem, media.$media-576), auto);
                
                &__text {
                    font-size: func.GetUpdatedMediaValue(3.5rem, 4.375rem, media.$media-576);
                }
            }

            &__cta {
                .cta-hero {
                    font-size: func.GetUpdatedMediaValue(1rem, 1.1875rem, media.$media-576);
                }
            }
        }
    }

    @media (min-width: 46.5rem) {
        &__hero {
            padding: func.GetUpdatedMediaValue(15.75rem, 16.875rem, 0) 
                    0 func.GetUpdatedMediaValue(16rem, 16.875rem, 0);
            row-gap: func.GetUpdatedMediaValue(4.375rem, 8.4375rem, 0);

            $containerLengthX: func.GetUpdatedMediaValue(744, 1440, 0);
            $containerLengthY: func.GetUpdatedMediaValue(752, 920, 0);
            &::before {
                $shutterImageLengthX: 512;
                $shutterImageLengthY: 62;
                $bgImageLengthX: 425;
                $bgImageLengthY: 609;
                $shutterToOffSetInPxY: 70;
                $bgToOffSetInPxX: 130;
                $bgToOffSetInPxY: 154;
                $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, $containerLengthY, $shutterToOffSetInPxY);
                $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
                $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);

                background-image: url('../../../assets/images/pages/home-shutter.svg'), url('../../../assets/images/pages/home-tablet-hero-bg.svg');
                background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
                background-size: func.PxToRem($shutterImageLengthX),
                                func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            }

            &__heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(20.75rem, 29.5625rem, 0), auto);

                &__text {
                    font-size: func.GetUpdatedMediaValue(4.375rem, 6rem, 0);
                }
            }

            &__cta {
                .cta-hero {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.75rem, 0);
                } 
            }
        }
    }

    @media (min-width: 61.9375rem) {
        &__hero {
            padding: func.GetUpdatedMediaValue(15.75rem, 16.875rem, media.$media-991) 
                    0 func.GetUpdatedMediaValue(16rem, 16.875rem, media.$media-991);
            row-gap: func.GetUpdatedMediaValue(4.375rem, 8.4375rem, media.$media-991);

            $containerLengthX: func.GetUpdatedMediaValue(744, 1440, media.$media-991);
            $containerLengthY: func.GetUpdatedMediaValue(752, 920, media.$media-991);
            &::before {
                $shutterImageLengthX: func.GetUpdatedMediaValue(512, 768, media.$media-991);
                $shutterImageLengthY: func.GetUpdatedMediaValue(62, 93, media.$media-991);
                $bgDesktopImageLengthX: func.GetUpdatedMediaValue(425, 496, media.$media-991);
                $bgImageLengthX: func.GetUpdatedMediaValue($bgDesktopImageLengthX, 496, media.$media-991);
                $bgDesktopImageLengthY: func.GetUpdatedMediaValue(609, 784, media.$media-991);
                $bgImageLengthY: func.GetUpdatedMediaValue($bgDesktopImageLengthY, 784, media.$media-991);
                $shutterToOffSetInPxY: func.GetUpdatedMediaValue(70, 100, media.$media-991);
                $bgToOffSetInPxX: func.GetUpdatedMediaValue(130, 472, media.$media-991);
                $bgToOffSetInPxY: func.GetUpdatedMediaValue(154, 241, media.$media-991);
                $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, $containerLengthY, $shutterToOffSetInPxY);
                $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
                $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);

                background-image: url('../../../assets/images/pages/home-shutter.svg'), url('../../../assets/images/pages/home-desktop-hero-bg.svg');
                background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
                background-size: func.PxToRem($shutterImageLengthX),
                                func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            }

            &__heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(20.75rem, 29.5625rem, media.$media-991), auto);

                &__text {
                    font-size: func.GetUpdatedMediaValue(4.375rem, 6rem, media.$media-991);
                }
            }

            &__cta {
                .cta-hero {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.75rem, media.$media-991);
                    padding: func.GetUpdatedMediaValue(0.5625rem, 0.875rem, media.$media-991)
                            func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-991);
                } 
            }
        }
    }

    @media (min-width: 90rem) {
        &__hero {
            padding: func.GetUpdatedMediaValue(15.75rem, 16.875rem, media.$media-1440) 
                    0 func.GetUpdatedMediaValue(16rem, 16.875rem, media.$media-1440);
            row-gap: func.GetUpdatedMediaValue(4.375rem, 8.4375rem, media.$media-1440);

            $containerLengthX: func.GetUpdatedMediaValue(744, 1440, media.$media-1440);
            $containerLengthY: func.GetUpdatedMediaValue(752, 920, media.$media-1440);
            &::before {
                $shutterImageLengthX: func.GetUpdatedMediaValue(512, 768, media.$media-1440);
                $shutterImageLengthY: func.GetUpdatedMediaValue(62, 93, media.$media-1440);
                $bgDesktopImageLengthX: func.GetUpdatedMediaValue(425, 496, media.$media-991);
                $bgImageLengthX: func.GetUpdatedMediaValue($bgDesktopImageLengthX,  496, media.$media-1440);
                $bgDesktopImageLengthY: func.GetUpdatedMediaValue(609, 784, media.$media-991);
                $bgImageLengthY: func.GetUpdatedMediaValue($bgDesktopImageLengthY, 784, media.$media-1440);
                $shutterToOffSetInPxY: func.GetUpdatedMediaValue(70, 100, media.$media-1440);
                $bgToOffSetInPxX: func.GetUpdatedMediaValue(130, 472, media.$media-1440);
                $bgToOffSetInPxY: func.GetUpdatedMediaValue(154, 241, media.$media-1440);
                $shutterPositionY: func.GetBgOffSetPositionInPercent($shutterImageLengthY, $containerLengthY, $shutterToOffSetInPxY);
                $bgPositionX: func.GetBgOffSetPositionInPercent($bgImageLengthX, $containerLengthX, $bgToOffSetInPxX);
                $bgPositionY: func.GetBgOffSetPositionInPercent($bgImageLengthY, $containerLengthY, $bgToOffSetInPxY);

                background-position: 50% $shutterPositionY, $bgPositionX $bgPositionY;
                background-size: func.PxToRem($shutterImageLengthX),
                                func.PxToRem($bgImageLengthX) func.PxToRem($bgImageLengthY);
            }

            &__heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(20.75rem, 29.5625rem, media.$media-1440), auto);

                &__text {
                    font-size: func.GetUpdatedMediaValue(4.375rem, 6rem, media.$media-1440);
                }
            }

            &__cta {
                .cta-hero {
                    font-size: func.GetUpdatedMediaValue(1.1875rem, 1.75rem, media.$media-1440);
                    padding: func.GetUpdatedMediaValue(0.5625rem, 0.875rem, media.$media-1440)
                            func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-1440);
                } 
            }
        }
    }

}