@use '../../util/mixin' as mix;
@use '../../util/functions' as func;
@use '../../globals/media' as media;

.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3.125rem 1.875rem 3.75rem;
    row-gap: 2.5rem;

    &__text-content {
        &__text {
            font-size: 1rem;
            line-height: 130%;
            margin-bottom: 1.25rem;
            text-align: center;
        }
    }

    &__solve-puzzle {
        display: flex;

        svg {
            @include mix.SetMinSize(13.4375rem, auto);
            filter: drop-shadow(0 0.125rem 0.1875rem #00000033);
        }
    }

    @media (min-width: 23.4375rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-375)
                func.GetUpdatedMediaValue(1.875rem, 8.5rem, media.$media-375)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-375);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-375);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-375);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-375);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-375), auto);
            }
        }
    }

    @media (min-width: 26.5625rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-425)
                func.GetUpdatedMediaValue(1.875rem, 8.5rem, media.$media-425)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-425);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-425);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-425);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-425);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-425), auto);
            }
        }
    }

    @media (min-width: 28.125rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-450)
                func.GetUpdatedMediaValue(1.875rem, 8.5rem, media.$media-450)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-450);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-450);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-450);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-450);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-450), auto);
            }
        }
    }

    @media (min-width: 30.375rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-486)
                func.GetUpdatedMediaValue(1.875rem, 8.5rem, media.$media-486)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-486);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-486);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-486);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-486);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-486), auto);
            }
        }
    }


    @media (min-width: 36rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-576)
                func.GetUpdatedMediaValue(1.875rem, 8.5rem, media.$media-576)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-576);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-576);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-576);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-576);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-576), auto);
            }
        }
    }

    @media (min-width: 37.5rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-600)
                func.GetUpdatedMediaValue(1.875rem, 13.5rem, media.$media-600)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-600);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-600);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-600);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-600);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-600), auto);
            }
        }
    }

    @media (min-width: 41.5625rem) {
        padding: func.GetUpdatedMediaValue(3.125rem, 7.1875rem, media.$media-665)
                func.GetUpdatedMediaValue(1.875rem, 13.5rem, media.$media-665)
                func.GetUpdatedMediaValue(3.75rem, 4.375rem, media.$media-665);
        row-gap: func.GetUpdatedMediaValue(2.5rem, 2.875rem, media.$media-665);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1rem, 1.125rem, media.$media-665);
                margin-bottom: func.GetUpdatedMediaValue(1.25rem, 2.8125rem, media.$media-665);
            }
        }
    
        &__solve-puzzle {
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(13.4375rem, 15.5rem, media.$media-665), auto);
            }
        }
    }

    @media (min-width: 46.5rem) {
        padding: 7.1875rem 13.5rem 4.375rem;
        row-gap: 2.875rem;
    
        &__text-content {
            &__text {
                font-size: 1.125rem;
                margin-bottom: 2.8125rem;
            }
        }
    
        &__solve-puzzle {
            margin-top: 1.8125rem;
    
            svg {
                @include mix.SetMinSize(15.5rem, auto);
            }
        }
    }

    @media (min-width: 51.375rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-822)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-822)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-822);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-822);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-822);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-822);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-822);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-822);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-822), auto);
            }
        }
    }

    @media (min-width: 58.75rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-940)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-940)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-940);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-940);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-940);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-940);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-940);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-940);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-940), auto);
            }
        }
    }

    @media (min-width: 61.9375rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-991)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-991)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-991);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-991);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-991);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-991);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-991);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-991);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-991), auto);
            }
        }
    }

    
    @media (min-width: 64.0625rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-1025)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-1025)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-1025);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-1025);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-1025);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-1025);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-1025);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-1025);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-1025), auto);
            }
        }
    }

    @media (min-width: 72.5rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-1160)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-1160)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-1160);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-1160);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-1160);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-1160);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-1160);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-1160);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-1160), auto);
            }
        }
    }

    @media (min-width: 79rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-1264)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-1264)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-1264);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-1264);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-1264);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-1264);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-1264);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-1264);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-1264), auto);
            }
        }
    }

    @media (min-width: 84.375rem) {
        padding: func.GetUpdatedMediaValue(7.1875rem, 4.875rem, media.$media-1350)
                func.GetUpdatedMediaValue(13.5rem, 20.3125rem, media.$media-1350)
                func.GetUpdatedMediaValue(4.375rem, 5.625rem, media.$media-1350);
        row-gap: func.GetUpdatedMediaValue(2.875rem, 2.3125rem, media.$media-1350);
    
        &__text-content {
            &__text {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.4375rem, media.$media-1350);
                line-height: func.GetUpdatedMediaValue(130%, 150%, media.$media-1350);
                margin-bottom: func.GetUpdatedMediaValue(2.8125rem, 2.3125rem, media.$media-1350);
            }
        }
    
        &__solve-puzzle {
            margin-top: func.GetUpdatedMediaValue(1.8125rem, 5.6875rem, media.$media-1350);
    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(15.5rem, 19.5rem, media.$media-1350), auto);
            }
        }
    }
    
    @media (min-width: 90rem) {
        padding: 4.875rem 20.3125rem 5.625rem;
        row-gap: 2.3125rem;
    
        &__text-content {
            max-width: 70%;

            &__text {
                font-size: 1.4375rem;
                line-height: 150%;
                margin-bottom: 2.3125rem;
            }
        }
    
        &__solve-puzzle {
            margin-top: 5.6875rem;
    
            svg {
                @include mix.SetMinSize(19.5rem, auto);
            }
        }
    }
}