@use '../util/functions' as func;
@use '../globals/media' as media;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}


svg {
    max-width: 100%;
}

a {
    color: var(--dark);
    display: flex;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[type="button"],
[type="submit"],
.cta {
    background-color: var(--accent);
    border: 0.03125rem solid var(--border-color);
    border-radius: 0.1rem;
    color: var(--dark);
    font-size: 1.25rem;
    letter-spacing: func.PercentToRem(0.5);
    padding: func.GetUpdatedMediaValue(0.46875rem, 0.5625rem, 0)
            func.GetUpdatedMediaValue(0.9375rem, 1.125rem, 0);
}

@media (min-width: 26.5625rem) {
    [type="button"],
    [type="submit"],
    .cta {
        padding: func.GetUpdatedMediaValue(0.46875rem, 0.5625rem, media.$media-425)
                func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-425);
    }
}

@media (min-width: 36rem) {
    [type="button"],
    [type="submit"],
    .cta {
        padding: func.GetUpdatedMediaValue(0.46875rem, 0.5625rem, media.$media-576)
                func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-576);
    }
}

@media (min-width: 46.5rem) {
    [type="button"],
    [type="submit"],
    .cta {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.5625rem, 0)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, 0);
    }

    .cta-route {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.6875rem, 0)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, 0);
    }
}

@media (min-width: 61.9375rem) {
    [type="button"],
    [type="submit"],
    .cta {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.5625rem, media.$media-991)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-991);
    }

    .cta-route {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.6875rem, media.$media-991)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-991);
    }
}


@media (min-width: 90rem) {
    [type="button"],
    [type="submit"],
    .cta {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.5625rem, media.$media-1440)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-1440);
    }

    .cta-route {
        padding: func.GetUpdatedMediaValue(0.5625rem, 0.6875rem, media.$media-1440)
                func.GetUpdatedMediaValue(1.125rem, 1.6875rem, media.$media-1440);
    }
}