:root {
    // Main
    --primary-yellow: #fff200;
    --primary-orange: #ff7300;
    --accent: #8cff00;

    // Background gradient
    --first-bg-gradient: #404040;
    --second-bg-gradient: #1c1c1c;

    // States
    --active: #4f4f4f;

    // Neutral
    --dark: #0a0900;
    --light: #ffffff;
    

    // Header
    --header-box-shadow-y: #0a090033;
    --header-cta-box-shadow: #0a090040;
    --header-menu-link: #ffffffbf;
    --header-nav-link-text: #0a0900a6;
    --header-social-icons: #ffffffb3;

    // Mobile Menu
    --m-menu-text: #ffffffbf;
    --nav-divider: #ffffff40;

    // Home - How to
    --h-body-text: #0a090080;

    // Settings Upload
    --s-upload-heading: #ffffff;
    --s-upload-add-text: #0a0900;

    // Footer
    --f-nav-link-header: #4f4f4fd9;
    --f-nav-link: #4f4f4f99;
}