:root {
    // Main
    --primary-yellow: #fff200;
    --primary-orange: #ff7300;
    --accent: #8cff00;

    // Background gradient
    --first-bg-gradient: #404040;
    --second-bg-gradient: #1b1b1b;

    // States
    --active: #4f4f4f;

    // Neutral
    --dark: #0a0900;
    --dark-80: #0a0900cc;
    --dark-75: #0a0900bf;
    --dark-50: #0a090080;
    --dark-25: #0a090040;
    --dark-20: #0a090033;
    --dark-15: #0a090026;
    --dark-10: #0a09001a;
    --light: #ffffff;
    --light-75: #ffffffbf;

    --border-color: #00000040;

    // Header
    --header-box-shadow-y: #0a090033;
    --header-cta-box-shadow: #0a090040;
    --header-menu-link: var(--light-75);
    --header-nav-link-text: #0a0900a6;
    --header-social-icons: #ffffffb3;

    // Body

    // Mobile Menu
    --m-menu-text: var(--light-75);
    --nav-divider: #ffffff40;

    // Home - How to
    --h-body-text: #0a090080;

    // Settings Upload
    --s-upload-heading: #ffffff;
    --s-upload-add-text: #0a0900;

    // Footer
    --footer-nav-link-header: #ffffffd9;
    --footer-nav-link: #ffffff99;
    --footer-social-icons: var(--header-social-icons);
    --footer-copyright-text: #ffffff80; 

    // Form
    --input-bg: #a1a1a140;
    --black-33: #00000054;
}