$media-320: 0.43010752688172043010752688172043;
$media-375: 0.50403225806451612903225806451613 - $media-320;
$media-425: 0.57123655913978494623655913978495 - $media-375;
$media-450: 0.60483870967741935483870967741935 - $media-425;
$media-486: 0.6532258064516129032258064516129 - $media-450;
$media-576: 0.77419354838709677419354838709677 - $media-486;
$media-600: 0.80645161290322580645161290322581 - $media-576;
$media-665: 0.89381720430107526881720430107527 - $media-600;
$media-744: 0.51666666666666666666666666666667;
$media-822: 0.57083333333333333333333333333333 - $media-744;
$media-940: 0.65277777777777777777777777777778 - $media-822;
$media-991: 0.68819444444444444444444444444444 - $media-940;
$media-1025: 0.71180555555555555555555555555556 - $media-991;
$media-1160: 0.80555555555555555555555555555556 - $media-1025;
$media-1264: 0.87777777777777777777777777777778 - $media-1160;
$media-1350: 0.9375 - $media-1160;
$media-1440: 1;