$media-320: 0.43010752688172043010752688172043;
$media-425: 0.57123655913978494623655913978495 - $media-320;
$media-576: 0.77419354838709677419354838709677 - $media-425;
$media-744: 0.51666666666666666666666666666667;
$media-991: 0.68819444444444444444444444444444 - $media-744;
$media-1440: 1;