@use '../util/fonts' as utl;

// Headings
@font-face {
    font-family: "Genos";
    src: local("Genos-Regular"),
    url("../../assets/fonts/genos/static/Genos-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Genos";
    src: local("Genos-Medium"),
    url("../../assets/fonts/genos/static/Genos-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Genos";
    src: local("Genos-SemiBold"),
    url("../../assets/fonts/genos/static/Genos-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Body
@font-face {
    font-family: "Roboto Slab";
    src: local("RobotoSlab-Light"),
    url("../../assets/fonts/roboto-slab/static/RobotoSlab-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: local("RobotoSlab-Regular"),
    url("../../assets/fonts/roboto-slab/static/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: local("RobotoSlab-Medium"),
    local("Roboto-Slab"),
    url("../../assets/fonts/roboto-slab/static/RobotoSlab-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


// Others
@font-face {
    font-family: "Inter";
    src: local("Inter-Light"),
    url("../../assets/fonts/inter/static/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("Inter-Regular"),
    url("../../assets/fonts/inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: local("Inter-SemiBold"),
    url("../../assets/fonts/inter/static/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
.home__hero__heading__text,
.footer__nav__section__header {
    font-family: utl.$font-genos;
}

body{
    font-family: utl.$font-roboto-slab;
}

a,
button,
.cta,
.footer__copyright__text  {
    font-family: utl.$font-inter;
}

a,
body,
.footer__copyright__text {
    font-weight: 300;
}

.footer__nav__section__header,
.guest__howto__steps__section__text,
.header__action__nav-wrapper__item__link {
    font-weight: 400;
}

h2,
h3,
h4 {
    font-weight: 500;
}

h1,
button,
.cta,
.home__hero__heading__text {
    font-weight: 600;
}
