@use '../../util/mixin' as mix;
@use '../../util/functions' as func;
@use '../../globals/media' as media;
@use '../../util/animation' as anim;

.settings__saved {
    display: flex;
    flex-direction: column;
    max-height: 50vmax;
    overflow: hidden;
    padding: 0.625rem;
    row-gap: 1.875rem;
    
    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-rows: 6.625rem;
        gap: 0.625rem;
        overflow: auto;
        box-shadow: 0 0 6px var(--dark-15);

        &__item {
            background-color: var(--dark-15);
            border-radius: 0.125rem;
            cursor: pointer;
            filter: grayscale(60%) brightness(75%);
            height: 100%;
            width: 100%;

            &:hover {
                filter: grayscale(0%) brightness(100%) drop-shadow(0 0.125rem 0.125rem var(--dark-25));
            }

            &:active {
                filter: none;
                transform: scale(anim.$d-active-scale);
            }

            &:focus {
                filter: none;
            } 
        }
    }

    .no-recent-pizzle-warning {
        display: flex;
        justify-content: center;
        padding: 5.125rem 0 3rem;

        &__message {
            color: var(--dark-50);
            font-size: 1.125rem;
            text-align: center;
        }
    }

    &__load-more {
        align-self: center;
        cursor: pointer;
        display: flex;

        svg {
            @include mix.SetMinSize(1.25rem, 1.25rem);
            filter: drop-shadow(0 0.125rem 0.125rem var(--dark-25)); 

            &:hover {
                filter: none;
                transform: scale(anim.$d-scale);
            }

            &:active {
                transform: scale(anim.$d-active-scale);
            }

            path {
                fill: var(--accent);
            }
        }
    }

    @media (min-width: 23.4375rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-375);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-375);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-375);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-375);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-375)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-375);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-375);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-375),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-375));
            }
        }  
    }

    @media (min-width: 26.5625rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-425);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-425);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-425);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-425);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-425)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-425);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-425);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-425),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-425));
            }
        }  
    }

    @media (min-width: 28.125rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-450);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-450);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-450);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-450);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-450)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-450);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-450);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-450),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-450));
            }
        }  
    }

    @media (min-width: 30.375rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-486);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-486);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-486);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-486);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-486)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-486);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-486);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-486),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-486));
            }
        }  
    }
    
    @media (min-width: 36rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-576);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-576);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-576);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-576);
        }
        
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-576)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-576);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-576);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-576),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-576));
            }
        }  
    }

    @media (min-width: 37.5rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-600);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-600);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-600);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-600);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-600)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-600);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-600);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-600),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-600));
            }
        }  
    }

    @media (min-width: 41.5625rem) {
        max-height: func.GetUpdatedMediaValue(50vmax, 55vmax, media.$media-665);
        row-gap: func.GetUpdatedMediaValue(1.875rem, 2.25rem, media.$media-665);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(6.625rem, 11.25rem, media.$media-665);
            gap: 0.8125rem func.GetUpdatedMediaValue(0.625rem, 0.8125rem, media.$media-665);
        }

        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(5.125rem, 6rem, media.$media-665)
                    0 func.GetUpdatedMediaValue(3rem, 4.1875rem, media.$media-665);

            &__message {
                font-size: func.GetUpdatedMediaValue(1.125rem, 1.3125rem, media.$media-665);
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-665),
                        func.GetUpdatedMediaValue(1.25rem, 1.875rem, media.$media-665));
            }
        }  
    }
    
    @media (min-width: 46.5rem) {
        max-height: 55vmax;
        row-gap: 2.25rem;
        
        &__gallery {
            grid-auto-rows: 11.25rem;
            gap: 0.8125rem;
        }

        .no-recent-pizzle-warning {
            padding: 6rem 0 4.1875rem;
    
            &__message {
                font-size: 1.3125rem;
            }
        }
    
        &__load-more {    
            svg {
                @include mix.SetMinSize(1.875rem, 1.875rem);
            }
        }   
    }
    
    @media (min-width: 51.375rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-822);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-822);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-822);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-822);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-822)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-822);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-822);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-822),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-822));
            }
        } 
    }

    @media (min-width: 58.75rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-940);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-940);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-940);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-940);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-940)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-940);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-940);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-940),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-940));
            }
        } 
    }
    
    @media (min-width: 61.9375rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-991);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-991);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-991);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-991);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-991)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-991);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-991);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-991),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-991));
            }
        }   
    }

    @media (min-width: 64.0625rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-1025);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-1025);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-1025);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-1025);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-1025)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-1025);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-1025);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1025),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1025));
            }
        } 
    }

    @media (min-width: 72.5rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-1160);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-1160);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-1160);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-1160);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-1160)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-1160);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-1160);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1160),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1160));
            }
        } 
    }

    @media (min-width: 79rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-1264);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-1264);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-1264);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-1264);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-1264)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-1264);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-1264);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1264),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1264));
            }
        } 
    }

    @media (min-width: 84.375rem) {
        max-height: func.GetUpdatedMediaValue(55vmax, 30vmax, media.$media-1350);
        row-gap: func.GetUpdatedMediaValue(2.25rem, 3.125rem, media.$media-1350);
        
        &__gallery {
            grid-auto-rows: func.GetUpdatedMediaValue(11.25rem, 9.4375rem, media.$media-1350);
            gap: func.GetUpdatedMediaValue(0.8125rem, 0.9375rem, media.$media-1350);
        }
    
        .no-recent-pizzle-warning {
            padding: func.GetUpdatedMediaValue(6rem, 7.92rem, media.$media-1350)
                    0 func.GetUpdatedMediaValue(4.1875rem, 5.5275rem, media.$media-1350);
            
            &__message {
                font-size: func.GetUpdatedMediaValue(1.3125rem, 1.625rem, media.$media-1350);
            }
        }
        
        &__load-more {    
            svg {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1350),
                        func.GetUpdatedMediaValue(1.875rem, 2.875rem, media.$media-1350));
            }
        } 
    }

    @media (min-width: 90rem) {
        max-height: 30vmax;
        row-gap: 3.125rem;
        
        &__gallery {
            grid-auto-rows: 9.4375rem;
            gap: 0.9375rem;
        }

        .no-recent-pizzle-warning {
            padding: 7.92rem 0 5.5275rem;
            
            &__message {
                font-size: 1.625rem;
            }
        }

        &__load-more {    
            svg {
                @include mix.SetMinSize(2.875rem,2.875rem);
            }
        }   
    }
}