@use './util/functions' as func;
@use './util/mixin' as mix;
@use './globals/media' as media;

html {
    color: var(--dark);

    #root {
        position: relative;
    }

    .pages-header {
        display: flex;
        flex-direction: column;
        row-gap: 0.3125rem;
        text-align: center;

        &__sub-heading {
            @include mix.SetMinSize(11.125rem, auto);
            font-size: 0.875rem;
            line-height: 130%;
        }
    }

    .pages-heading {
        font-size: 2rem;
        margin: 0;
    }

    .notification {
        align-items: center;
        background-color: var(--light);
        border: 0.2rem solid var(--second-bg-gradient);
        border-radius: 25rem;
        box-shadow: 0 0.125rem 0.5rem var(--dark-50);
        bottom: 1.5rem;
        color: var(--dark);
        display: none;
        grid-template: "notify-icon message" min-content/ max-content 1fr;
        overflow: hidden;
        padding: 0.25rem 0.15rem;
        position: fixed;
        right: 1rem;
        width: fit-content;
        z-index: 5;

        &__icon,
        &__message {
            padding: 0 0.5rem;
        }
        &__icon {
            border-right: 0.125rem solid var(--dark-75);
            display: flex;
            grid-area: notify-icon;

            svg {
                @include mix.SetMinSize(1.5rem, 1.5rem);
            }
        }

        &__message {
            font-size: 0.875rem;
            grid-area: message;
        }
    }

    @media (min-width: 23.4375rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-375);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-375);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-375);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-375);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-375)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-375);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-375);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-375);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-375),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-375));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-375);
            }
        }
    }
    
    @media (min-width: 26.5625rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-425);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-425);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-425);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-425);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-425)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-425);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-425);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-425);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-425),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-425));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-425);
            }
        }
    }

    @media (min-width: 28.125rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-450);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-450);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-450);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-450);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-450)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-450);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-450);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-450);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-450),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-450));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-450);
            }
        }
    }

    @media (min-width: 30.375rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-486);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-486);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-486);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-486);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-486)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-486);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-486);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-486);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-486),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-486));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-486);
            }
        }
    }
    
    @media (min-width: 36rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-576);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-576);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-576);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-576);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-576)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-576);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-576);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-576);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-576),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-576));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-576);
            }
        }
    }

    @media (min-width: 37.5rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-600);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-600);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-600);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-600);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-600)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-600);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-600);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-600);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-600),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-600));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-600);
            }
        }
    }

    @media (min-width: 41.5625rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.3125rem, 0.375rem, media.$media-665);

            &__sub-heading {
                font-size: func.GetUpdatedMediaValue(0.875rem, 1rem, media.$media-665);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2rem, 2.625rem, media.$media-665);
        }

        .notification {
            bottom: func.GetUpdatedMediaValue(1.5rem, 2rem, media.$media-665);
            padding: func.GetUpdatedMediaValue(0.25rem, 0.35rem, media.$media-665)
                    func.GetUpdatedMediaValue(0.15rem, 0.25rem, media.$media-665);
            right: func.GetUpdatedMediaValue(1rem, 1.5rem, media.$media-665);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.5rem, 0.6rem, media.$media-665);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-665),
                                            func.GetUpdatedMediaValue(1.5rem, 1.75rem, media.$media-665));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.875rem, 0.9375rem, media.$media-665);
            }
        }
    }

    @media (min-width: 46.5rem) {
        .pages-header {
            row-gap: 0.375rem;
    
            &__sub-heading {
                font-size: 1rem;
            }
        }
        
        .pages-heading {
            font-size: 2.625rem;
        }

        .notification {
            bottom: 2rem;
            padding: 0.35rem 0.25rem;
            right: 1.5rem;

            &__icon,
            &__message {
                padding: 0 0.6rem;
            }
            &__icon {
                svg {
                    @include mix.SetMinSize(1.75rem, 1.75rem);
                }
            }
    
            &__message {
                font-size: 0.9375rem;
            }
        }
    }

    @media (min-width: 51.375rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-822);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-822), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-822);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-822);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-822);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-822)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-822);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-822);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-822);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-822),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-822));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-822);
            }
        }
    }

    @media (min-width: 58.75rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-940);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-940), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-940);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-940);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-940);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-940)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-940);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-940);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-940);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-940),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-940));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-940);
            }
        }
    }

    @media (min-width: 61.9375rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-991);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-991), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-991);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-991);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-991);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-991)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-991);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-991);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-991);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-991),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-991));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-991);
            }
        }
    }

    @media (min-width: 64.0625rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-1025);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-1025), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-1025);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-1025);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-1025);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-1025)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-1025);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-1025);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-1025);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1025),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1025));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-1025);
            }
        }
    }

    @media (min-width: 72.5rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-1160);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-1160), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-1160);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-1160);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-1160);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-1160)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-1160);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-1160);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-1160);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1160),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1160));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-1160);
            }
        }
    }

    @media (min-width: 79rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-1264);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-1264), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-1264);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-1264);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-1264);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-1264)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-1264);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-1264);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-1264);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1264),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1264));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-1264);
            }
        }
    }

    @media (min-width: 84.375rem) {
        .pages-header {
            row-gap: func.GetUpdatedMediaValue(0.375rem, 0.4375rem, media.$media-1350);

            &__sub-heading {
                @include mix.SetMinSize(func.GetUpdatedMediaValue(11.125rem, 16.5625rem, media.$media-1350), auto);
                font-size: func.GetUpdatedMediaValue(1rem, 1.25rem, media.$media-1350);
            }
        }
        
        .pages-heading {
            font-size: func.GetUpdatedMediaValue(2.625rem, 3.1875rem, media.$media-1350);
        }
        .notification {
            bottom: func.GetUpdatedMediaValue(2rem, 2.5rem, media.$media-1350);
            padding: func.GetUpdatedMediaValue(0.35rem, 0.4rem, media.$media-1350)
                    func.GetUpdatedMediaValue(0.25rem, 0.4rem, media.$media-1350);
            right: func.GetUpdatedMediaValue(1.5rem, 2.25rem, media.$media-1350);

            &__icon,
            &__message {
                padding: 0 func.GetUpdatedMediaValue(0.6rem, 0.7rem, media.$media-1350);
            }
            &__icon {    
                svg {
                    @include mix.SetMinSize(func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1350),
                                            func.GetUpdatedMediaValue(1.75rem, 2.25rem, media.$media-1350));
                }
            }
    
            &__message {
                font-size: func.GetUpdatedMediaValue(0.9375rem, 1.125rem, media.$media-1350);
            }
        }
    }

    @media (min-width: 90rem) {
        .pages-header {
            row-gap: 0.4375rem;

            &__sub-heading {
                @include mix.SetMinSize(16.5625rem, auto);
                font-size: 1.25rem;
            }
        }
        
        .pages-heading {
            font-size: 3.1875rem;
        }

        .notification {
            bottom: 2.5rem;
            padding: 0.4rem;
            right: 2.25rem;

            &__icon,
            &__message {
                padding: 0 0.7rem;
            }
            &__icon {
                svg {
                    @include mix.SetMinSize(2.25rem, 2.25rem);
                }
            }
    
            &__message {
                font-size: 1.125rem;
            }
        }
    }
}